@font-face {
    font-family: "Old Stamper";
    src: url("fonts/old-stamper.ttf") format("truetype");
}
@font-face {
    font-family: "Inter";
    src: url("fonts/inter.ttf") format("truetype");
}
@font-face {
    font-family: "Inter";
    src: url("fonts/inter-italic.ttf") format("truetype");
    font-style: italic;
}
@font-face {
    font-family: "Noto Serif";
    src: url("fonts/noto-serif.ttf") format("truetype");
}
@font-face {
    font-family: "Noto Serif";
    src: url("fonts/noto-serif-italic.ttf") format("truetype");
    font-style: italic;
}
body {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: "Inter";
    display: flex;
    justify-content: center;
    margin: 8px;
    overflow-x: hidden;
}
.container {
    width: 100%;
    text-align: center;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 1024px) {
    .container {
        width: 960px;
    }
    .mobile-only {
        display: none;
    }
}
@media (max-width: 1023px) {
    .desktop-only {
        display: none;
    }
}
span.red {
    color: #ff2424;
}
span.green {
    color: #2bde5f;
}
h1 {
    font-family: "Old Stamper";
    font-size: 6em;
    margin-bottom: 0;
    font-weight: normal;
}
h2 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: left;
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 50%;
    transform: translateX(-50%);
}
h3 {
    font-size: 1.4em;
    font-weight: bold;
}
h4 {
    font-weight: bold;
    font-style: italic;
    color: #ff2424;
}
div.line-break {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, #aaa, transparent);
    margin: 2em 0;
}
article {
    margin: 0 1em;
}
ul {
    text-align: left;
    padding-right: 1em;
}
img.map {
    display: block;
    width: calc(100% + 16px);
    margin: 0 -8px;
}
article > p a {
    color: #676767;
    font-style: italic;
    text-decoration: underline;
}
button, a.button {
    display: inline-block;
    width: fit-content;
    padding: 15px 20px;
    margin:  0.5em 1em;
    background-color: #cd1313;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
a.button.icon {
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: calc(2em + 25px);
    background-size: 2em;
}
a.button.icon.facebook {
    background-color: #3b5998;
    background-image: url("icons/facebook.svg");
}
a.button.icon.mailing-list, a.button.icon.email {
    background-color: #cd1313;
    background-image: url("icons/envelope.svg");
}
a.button.leaf {
    background-color: #179637;
    background-image: url("icons/leaf.svg");
}
a.document {
    display: block;
    text-align: left;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-left: calc(2em + 8px);
    background-size: 2em;
    min-height: 2em;
}
a.document p {
    margin: 0;
}
a.document p:first-child {
    color: #7ca5ff;
    text-decoration: underline;
}
a.document:visited p:first-child {
    color: #bb73ff;
}
a.document p i {
    font-size: 0.8em;
    color: #676767;
}
a.document.pdf {
    background-image: url("icons/filetype-pdf.svg");
}
a.document.pptx {
    background-image: url("icons/filetype-pptx.svg");
}
a.document.docx {
    background-image: url("icons/filetype-docx.svg");
}
a.document.news {
    background-image: url("icons/newspaper.svg");
}
table {
    display: inline-block;
    border-collapse: collapse;
}
tr, td, th {
    border: solid 1px #fff;
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
}
table.mobile-only :is(td, th) {
    border-top: none;
    border-bottom: none;
}
table.mobile-only tr:not(:first-child) {
    border-top: none;
}
table.mobile-only tr:not(:last-child) {
    border-bottom: none;
}
table.mobile-only tr:not(:first-child) :is(td, th) {
    padding-top: 0.25em;
}
table.mobile-only tr:not(:last-child) :is(td, th) {
    padding-bottom: 0.25em;
}
table.mobile-only td {
    word-break: break-all;
}
a:not(.button):not(.document) {
    color: #7ca5ff;
    text-decoration: underline;
}
a:not(.button):not(.document):visited {
    color: #bb73ff;
}
a.no-style {
    text-decoration: inherit !important;
    color: inherit !important;
}